:root {
  --gray: #666666;
  --gray-light: #85859B;
  --violet: #3F2AFF;
  --violet-ghost: #EDF0F9;
  --violet-dark: #212133;
  --yellow: #F7C055;
  --green: #6DA71D;
  --blue: #1188E4;
}

h1, h2, h3, h4, h5, h6, ul {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  outline: none;
}

body {
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
}

.headline {
  margin-bottom: 20px;
  color: var(--violet-dark);
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
}

@media screen and (min-width: 576px) {
  .headline {
    margin-bottom: 25px;
    font-size: 40px;
    line-height: 100%;
  }
}

.dark {
  background-color: var(--violet-dark);
}

.dark .headline {
  color: #fff;
}

.button {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

@media screen and (min-width: 576px) {
  .button {
    font-size: 18px;
    line-height: 21px;
  }
}

.button--primary {
  padding: 20px 55px;
  border: none;
  border-radius: 20px;
  background-color: var(--violet);
}

@media screen and (min-width: 576px) {
  .button--primary {
    padding: 20px 35px;
    font-size: 15px;
  }
}

@media screen and (min-width: 768px) {
  .button--primary {
    padding: 20px 55px;
  }
}

@media screen and (min-width: 1440px) {
  .button--primary {
    padding: 20px 60px;
  }
}

.button--primary:hover {
  margin-left: 15px;
  -webkit-box-shadow: -15px 15px 0px 0px white;
          box-shadow: -15px 15px 0px 0px white;
}

.button--primary:focus {
  -webkit-box-shadow: 0 0 0 2px white;
          box-shadow: 0 0 0 2px white;
}

.button--primary:active {
  margin-left: 10px;
  -webkit-box-shadow: -10px 10px 0px 0px white;
          box-shadow: -10px 10px 0px 0px white;
}

.header {
  padding: 30px 0 30px 0;
  background-color: var(--violet);
}

@media screen and (min-width: 576px) {
  .header {
    padding: 30px 0 5px 0;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding: 5px 0;
  }
}

.header__block {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 576px) {
  .header__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .header__block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.header__logo {
  width: 72px;
}

@media screen and (min-width: 576px) {
  .header__logo {
    width: unset;
  }
}

.header .hamburger {
  position: relative;
  margin-right: 20px;
  width: 20px;
  height: 18px;
  z-index: 10;
}

@media screen and (min-width: 576px) {
  .header .hamburger {
    display: none;
  }
}

.header .hamburger .line {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transition: .4s ease-in-out all;
  transition: .4s ease-in-out all;
}

.header .hamburger .line:first-child {
  top: 0;
}

.header .hamburger .line:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header .hamburger .line:last-child {
  bottom: 0;
}

.header .hamburger.active .line:first-child {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.header .hamburger.active .line:nth-child(2) {
  opacity: 0;
}

.header .hamburger.active .line:last-child {
  bottom: 50%;
  -webkit-transform: translateY(50%) rotate(-45deg);
          transform: translateY(50%) rotate(-45deg);
}

.header__wrapper-nav {
  padding: 65px 0 105px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--violet-dark);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: .3s ease-in all;
  transition: .3s ease-in all;
  z-index: 5;
}

.header__wrapper-nav.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media screen and (min-width: 576px) {
  .header__wrapper-nav {
    position: relative;
    padding: 0;
    background-color: unset;
    -webkit-transform: unset;
            transform: unset;
  }
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 576px) {
  .header__list {
    padding: 0 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .header__list {
    padding: 0 15px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.header__item {
  padding: 0 15px;
}

@media screen and (min-width: 768px) {
  .header__item {
    padding: 0 28px;
  }
}

.header__item:not(:last-child) {
  margin-bottom: 35px;
}

@media screen and (min-width: 576px) {
  .header__item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .header__item:last-child {
    padding-right: 0;
  }
}

.header__link {
  display: block;
  padding: 10px 0;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 21px;
}

@media screen and (min-width: 576px) {
  .header__link {
    padding: 25px 0;
  }
}

.header__link span {
  position: relative;
}

.header__link span:before {
  content: "";
  position: absolute;
  left: -5px;
  bottom: -5px;
  width: 8px;
  height: 8px;
  background-color: #FFFFFF;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  opacity: 0;
  -webkit-transition: .7s ease-in-out transform;
  transition: .7s ease-in-out transform;
}

.header__link:hover span:before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  opacity: 1;
}

.hero {
  margin-bottom: 50px;
  padding: 50px 0 50px 0;
  background: radial-gradient(44.07% 44.07% at 67.78% 55.93%, #555681 0%, #212133 100%);
}

@media screen and (min-width: 576px) {
  .hero {
    margin-bottom: 80px;
    padding: 80px 0 135px 0;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 130px 0 135px 0;
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    padding: 0;
  }
}

.hero__headline {
  margin-bottom: 5px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
}

@media screen and (min-width: 576px) {
  .hero__headline {
    margin-bottom: 15px;
    font-size: 50px;
  }
}

@media screen and (min-width: 1440px) {
  .hero__headline {
    margin-bottom: 25px;
    font-size: 60px;
  }
}

@media screen and (min-width: 1440px) {
  .hero__wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero__text {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 135%;
}

@media screen and (min-width: 576px) {
  .hero__text {
    display: block;
    padding-right: 30px;
    font-size: 18px;
    line-height: 150%;
  }
}

@media screen and (min-width: 768px) {
  .hero__text {
    padding-right: 0;
  }
}

.hero .button-wrapper {
  margin-top: 45px;
}

@media screen and (min-width: 576px) {
  .hero .button-wrapper {
    margin-top: 65px;
  }
}

@media screen and (min-width: 576px) {
  .hero .button {
    padding: 22px 75px;
  }
}

@media screen and (min-width: 768px) {
  .hero .button {
    padding: 22px 85px;
  }
}

@media screen and (min-width: 1440px) {
  .hero .button {
    padding: 22px 80px;
    font-size: 16px;
  }
}

.hero__image {
  width: 100%;
}

@media screen and (min-width: 1440px) {
  .hero__image {
    margin-top: 20px;
  }
}

.advantages {
  margin-bottom: 50px;
}

@media screen and (min-width: 576px) {
  .advantages {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .advantages {
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 1440px) {
  .advantages {
    margin-bottom: 73px;
  }
}

.advantages .headline {
  margin-bottom: 5px;
  line-height: 130%;
}

@media screen and (min-width: 576px) {
  .advantages .headline {
    margin-bottom: 15px;
    line-height: 105%;
  }
}

.advantages .headline br {
  display: none;
}

@media screen and (min-width: 576px) {
  .advantages .headline br {
    display: block;
  }
}

.advantages .headline br:last-child {
  display: block;
}

@media screen and (min-width: 768px) {
  .advantages .headline br:last-child {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .advantages__wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.advantages__image {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.advantages__text {
  color: var(--gray);
  font-size: 16px;
  line-height: 150%;
}

.advantages__list {
  margin-top: 20px;
}

.advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 576px) {
  .advantages__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (min-width: 1440px) {
  .advantages__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.advantages__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 576px) {
  .advantages__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.advantages__item-image {
  margin-right: 30px;
}

@media screen and (min-width: 576px) {
  .advantages__item-image {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1440px) {
  .advantages__item-image {
    margin-right: 30px;
  }
}

.advantages__item-text {
  color: var(--gray);
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
}

.teachers {
  margin-bottom: 45px;
  padding: 50px 0 70px 0;
}

@media screen and (min-width: 576px) {
  .teachers {
    margin-bottom: 75px;
    padding: 70px 0 50px 0;
  }
}

@media screen and (min-width: 768px) {
  .teachers {
    padding: 70px 0 35px 0;
  }
}

@media screen and (min-width: 1440px) {
  .teachers {
    padding: 75px 0 55px 0;
  }
}

.teachers__item:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (min-width: 576px) {
  .teachers__item {
    margin-bottom: 30px;
  }
}

.teachers__item-image {
  margin-bottom: 30px;
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 23px 23px 0 0;
}

@media screen and (min-width: 576px) {
  .teachers__item-image {
    margin-bottom: 25px;
    height: 180px;
  }
}

.teachers__item-name {
  margin: 0;
  margin-bottom: 8px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
}

.teachers__item-text {
  color: var(--gray-light);
  font-size: 16px;
  line-height: 150%;
}

.courses {
  margin-bottom: 50px;
}

@media screen and (min-width: 576px) {
  .courses {
    margin-bottom: 45px;
  }
}

@media screen and (min-width: 1440px) {
  .courses {
    margin-bottom: 52px;
  }
}

.courses .headline {
  margin-bottom: 27px;
}

@media screen and (min-width: 576px) {
  .courses .headline {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .courses .headline {
    margin-bottom: 25px;
  }
}

.courses__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.courses__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}

.courses__item-top {
  position: relative;
  height: 180px;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .courses__item-top {
    height: 180px;
  }
}

.courses__item-top--yellow {
  background-color: var(--yellow);
}

.courses__item-top--violet-dark {
  background-color: var(--violet-dark);
}

.courses__item-top--blue {
  background-color: var(--blue);
}

.courses__item-top--green {
  background-color: var(--green);
}

.courses__item-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.courses__item-time {
  position: absolute;
  padding-left: 30px;
  top: 13px;
  right: 10px;
  color: #fff;
  font-size: 16px;
  line-height: 19px;
}

@media screen and (min-width: 1440px) {
  .courses__item-time {
    right: 4px;
  }
}

.courses__item-time:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.99 2C6.47 2 2 6.48 2 12C2 17.52 6.47 22 11.99 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 11.99 2ZM12 20C7.58 20 4 16.42 4 12C4 7.58 7.58 4 12 4C16.42 4 20 7.58 20 12C20 16.42 16.42 20 12 20Z' fill='white'/%3E%3Cpath d='M12.5 7H11V13L16.25 16.15L17 14.92L12.5 12.25V7Z' fill='white'/%3E%3C/svg%3E%0A");
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.courses__item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 30px;
  background-color: var(--violet-ghost);
  border-radius: 0 0 30px 30px;
}

.courses__item-title {
  margin: 0;
  margin-bottom: 10px;
  color: var(--violet-dark);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
}

.courses__item-description {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: var(--gray);
  font-size: 16px;
  line-height: 150%;
}

.courses__item .button-wrapper {
  margin-top: 80px;
}

@media screen and (min-width: 576px) {
  .courses__item .button-wrapper {
    margin-top: 35px;
  }
}

@media screen and (min-width: 1440px) {
  .courses__item .button-wrapper {
    margin-top: 50px;
  }
}

@media screen and (min-width: 576px) {
  .courses__item .button {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .courses__item .button {
    width: unset;
  }
}

.footer__inner {
  padding: 25px 0;
  background-color: var(--violet-dark);
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 40px;
}

.footer__social-network {
  display: inline-block;
  position: relative;
}

.footer__social-network img {
  -webkit-transition: .2s ease-out all;
  transition: .2s ease-out all;
}

.footer__social-network:hover img {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.footer__social-network:focus:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% + 3px);
  height: calc(100% + 3px);
  border: 1px solid #fff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.footer__social-network:not(:last-child) {
  margin-right: 26px;
}

.footer .company {
  padding: 3px 0;
  font-size: 13px;
  font-style: normal;
  text-align: center;
}

.footer .registered {
  color: var(--violet);
}
/*# sourceMappingURL=style.css.map */